<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Create AMA</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body >
    <th:block th:include="fragments/nav :: nav"></th:block>
    <div class="container">
        <h1>Create AMA</h1>
        <hr/>
        <form action="#" th:action="@{/create}" th:object="${ama}"  method="post">

            <div class="form-group" >
                <label for="title">AMA Title</label>
                <input class="form-control" placeholder="Enter AMA Title" id="title" th:field="*{description}"></input>

                <hr/>
            </div>

            <div class="form-group">
                <label for="category">Choose Category: </label>
                <select id="category" th:field="*{category}">
                    <th:block th:each="category, iterationStatus : ${questionCategories}" th:inline="text">
                        <option th:value="${category}">[[${category}]]</option>
                    </th:block>
                </select>
            </div>
            
            <div class="form-group">
                <label for="time-limit">Set Time Limit: </label>
                <input type="number" min="0" id="time-limit" th:field="*{time}"/> Hours
            </div>

            <input type="hidden" th:field="*{votes}" th:value="0"/>

            <button class="btn btn-success pull-right" type="submit">Submit</button>
        </form>
    </div>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:src="@{/js/Navigation.js}"></script>
</body>
</html>