<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>AMA Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/solo.css}" />
</head>
<body>
        <th:block th:include="fragments/nav :: nav"></th:block>
        <div class="container">
            <div class="row">
                <a href="/create" class="btn btn-default pull-right" role="button">Create New AMA</a>
            </div>
            <div class="row">
                <h1>AMA Requests</h1>
                <hr/>
            </div>

            <div class="row amalist"></div>

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script th:src="@{/js/AMAHome.js}"></script>
        <script th:src="@{/js/solo.js}"></script>
        <script th:src="@{/js/Navigation.js}"></script>
</body>
</html>