<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Create AMA</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/solo.css}" />
</head>
<body>

    <th:block th:include="fragments/nav :: nav"></th:block>
<div class="container">
    <div class="vote">
        <span class="glyphicon glyphicon-circle-arrow-up liker block" aria-hidden="true"></span>
        <span class="counter block">0</span>
    </div>
    <h3 th:inline="text" >
        [[${ama.description}]]
    </h3>
    <span th:text="${ama.category}" />
    <hr/>

   <h1 th:inline="text" id="amaid" class="hidden">
        [[${ama.id}]]
    </h1>

    <form action="#" th:action="@{@{/ama/} + ${ama.id} + @{/addquestion}}" th:object="${question}"  method="post">
        <input class="form-control" placeholder="Enter Question" id="title" th:field="*{content}"></input>
        <button class="btn btn-primary pull-right" type="submit">Ask Question</button>
    </form>
    <div >
        <h1>Questions List</h1>
        <div class="row questionlist">
        </div>
    </div>


</div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:src="@{/js/solo.js}"></script>
<script th:src="@{/js/Navigation.js}"></script>
    <script th:src="@{/js/QuestionsHome.js}"></script>
</body>
</html>