<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>AMA SignUp Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <h1 class="col-md-6 col-md-offset-3">Askinator AMA Signup</h1>

    <div class="alert alert-danger hidden col-md-6 col-md-offset-3" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
    </div>

    <form action="#" th:action="@{/signup}" th:object="${user}"  method="post" class="col-md-6 col-md-offset-3 signup">

        <div class="form-group" >
            <label for="name">User name</label><br/>
            <input type="text"  class="form-control" name="name" id="name" th:field="*{name}"/>
        </div>

        <div class="form-group">
            <label for="password">Password </label><br/>
            <input type="password" class="form-control" name="password" id="password" th:field="*{password}"/>
        </div>

        <div class="form-group pull-right">
            <button class="btn btn-success btn-lg done" type="submit">Create Account</button>
        </div>
    </form>


</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:src="@{/js/validateSignUp.js}"></script>
</body>
</html>