<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Create AMA</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/solo.css}" />
</head>
<body>

    <th:block th:include="fragments/nav :: nav"></th:block>
<div class="container">

    <form action="#" th:action="@{@{/ama/} + ${ama.id} + @{/addvote}}" method="post" class="upvoter">
        <div class="vote">
            <span class="glyphicon glyphicon-circle-arrow-up block liker" aria-hidden="true"></span>
            <span class="counter block" th:text="${ama.votes}"></span>
        </div>
    </form>

    <h3 th:inline="text" >
        [[${ama.description}]]
    </h3>
    <span th:text="${ama.category}" />
    <hr/>

   <h1 th:inline="text" id="amaid" class="hidden">
        [[${ama.id}]]
    </h1>
    <div >
        <h1>Questions List</h1>
        <div class="row questionlist">
        </div>
    </div>

    <hr/>
    <form action="#" th:action="@{@{/ama/} + ${ama.id} + @{/addquestion}}" th:object="${question}"  method="post">
        <input class="form-control hidden" placeholder="Enter Question" id="title" th:field="*{content}"></input>
        <button class="btn btn-primary pull-right question" type="submit">Ask Question</button>
    </form>
</div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:src="@{/js/solo.js}"></script>
<script th:src="@{/js/Navigation.js}"></script>
    <script th:src="@{/js/QuestionsHome.js}"></script>
    <script>
        $('.liker').click(function(e) {
            $('.upvoter').submit();
        })
    </script>
</body>
</html>