<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Create AMA</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/solo.css}" />
</head>
<body>
<div>
    <ul class="nav nav-pills">
        <li role="presentation"><a href="/">Home</a></li>
        <!--<li role="presentation" class="active"><a href="/create">Create AMA</a></li>-->
        <li role="presentation"><a href="/">Login</a></li>
        <li role="presentation"><a href="/">Signup</a></li>
    </ul>
</div>
<div class="container">
    <div class="vote">
        <span class="glyphicon glyphicon-circle-arrow-up liker block" aria-hidden="true"></span>
        <span class="counter block">0</span>
    </div>
    <h3 th:inline="text" >
        [[${ama.description}]]
    </h3>
    <span th:text="${ama.category}" />
    <hr/>

    <form action="#" th:action="@{/qcreate}" th:object="${ama}"  method="post">
        <input class="form-control" placeholder="Enter Question" id="title" th:field="*{question}"></input>
        <button class="btn btn-primary pull-right" type="submit">Ask Question</button>
    </form>



</div>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:src="@{/js/solo.js}"></script>
<script th:src="@{/js/Navigation.js}"></script>
</body>
</html>